{% extends "home.html" %}

{% block body %}
    <div class=" flex justify-center items-center h-screen">
        <div class=" border border-solid border-green-400 p-3 ">
            <div class=" border border-solid border-green-400 p-3">
                <div class=" border border-solid border-green-400 p-5">
                    <p class=" text-center mb-5 font-serif text-lg font-bold">Login</p>
                    <form method="POST" action="/user">
                        <p>Username</p>
                        <input class=" border border-solid border-black rounded-xl pl-2 mt-2 mb-2" type="text" name="username" id="username" required/>
                        <p>Password</p>
                        <input class=" border border-solid border-black rounded-xl pl-2 mt-2" type="password" name="password" id="password" required/>

                        <div class=" flex justify-center mt-6">
                            <button type="submit" class=" p-1 bg-green-400 rounded-lg font-serif text-lg">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
